

.postcard{
    width: 300px;
    height: 700px;
    text-align: center;
    
    margin: 20px 500px;
}
.post-header{
    display:flex;
    
    flex-wrap:wrap;
    align-content: flex-start;

}
#simbolo{
    text-align: left;
    height: 50px;
    width: 50px;
    
    flex: 1 1 auto;
}
#html{
    flex: 1 1 auto;
    flex-grow: calc(5);
    text-align: left;
}
#puntos{ 
    
    height: 50px;
    width: 50px;
    
    flex: 1 1 auto;
}

.post-img{
   
    text-align: center;
    width: 300px;
    height: 300px;
}

#first{
    width: 50px;
    

}
#second{
    width: 50px;
    
}
#third{
    width: 300px;
    height: 300px;

}
#p1{
   
    text-align: left;
}
#p2{
   
    text-align: left;
}
.post-icons{
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;

}
#heart{
    
    text-align: left;
    height: 30px;
    width: 30px;
    
}
#heartimg{
    width: 30px;
}
#message{
    
    text-align: left;
    height: 30px;
    width: 30px;
    
}
#messageimg{
    width: 30px;
}
#direct{
   
    text-align: left;
    height: 30px;
    width: 30px;
    
}
#directimg{
    width: 30px;
}
#fav{
    
    text-align: left;
    height: 30px;
    width: 30px;
    align-self: flex-end;
    
}
#favimg{
    width: 30px;
    flex-direction: end;
}